* {
  margin: 0;
  padding: 0; }

.title-principal, .title-corporales, .lomasDestacado, .titleTurnos, .form-title {
  padding: 2%;
  font-size: 230%;
  text-align: center;
  color: #c1a2a0;
  font-family: 'Ibarra Real Nova', serif; }

@media (max-width: 480px) {
  header {
    background-color: #e8e7e5; } }

@media (min-width: 480px) {
  .fondo {
    background-color: #e8e7e5; } }

@media (min-width: 1200px) {
  header {
    background-color: #e8e7e5; }
    header .navHover:hover {
      color: #fff7f7;
      background-color: #fff7f7; }
    header .buttomHover:hover {
      color: #fff7f7;
      background-color: #BEA393; }
    header .colorNav {
      padding: 10px;
      font-size: 18px; }
    header .fondo {
      background-color: #e8e7e5; } }

@media (min-width: 768px) {
  main {
    background-color: #e8e7e5;
    width: 100%; }
  .title-principal, .title-corporales, .lomasDestacado, .titleTurnos, .form-title, .title-corporales, .lomasDestacado, .titleTurnos, .form-title {
    padding: 2%;
    display: flex;
    font-size: 190%;
    text-align: center;
    color: #c1a2a0;
    font-family: 'Ibarra Real Nova', serif;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly; }
  .btn, .btn-dark {
    height: 45%;
    width: 45%; } }

@media (max-width: 480px) {
  main {
    background-color: #e8e7e5;
    width: 100%; }
  .title-principal, .title-corporales, .lomasDestacado, .titleTurnos, .form-title, .title-corporales, .lomasDestacado, .titleTurnos, .form-title {
    padding: 2%;
    display: flex;
    font-size: 300%;
    text-align: center;
    color: #c1a2a0;
    font-family: 'Ibarra Real Nova', serif;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center; }
  .btn, .btn-dark {
    height: 45%;
    width: 45%; } }

@media (min-width: 768px) {
  main {
    background-color: #e8e7e5;
    width: 100%; }
  .title-principal, .title-corporales, .lomasDestacado, .titleTurnos, .form-title, .title-corporales, .lomasDestacado, .titleTurnos, .form-title {
    padding: 2%;
    display: flex;
    font-size: 190%;
    text-align: center;
    color: #c1a2a0;
    font-family: 'Ibarra Real Nova', serif;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly; }
  .btn, .btn-dark {
    height: 45%;
    width: 45%; } }

@media (min-width: 1200px) {
  main {
    background-color: #e8e7e5;
    width: 100%; }
  .grillaPromos {
    -webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: scale-up-ver-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
  @-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4); }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1); } }
  @keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
      transform: scaleY(0.4); }
    100% {
      -webkit-transform: scaleY(1);
      transform: scaleY(1); } }
  .btn, .btn-dark {
    height: 45%;
    width: 45%; } }

/*.navFooter{
    width: 45%;
}
.navSpace{
    padding: 10px;
    font-size: 15px;
}
footer{
 background-color: $background-med;   
}
.ulFooter{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 1%;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: wrap;
}

.aFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color:#e8e7e5;
    list-style-type: none;
    margin: 2%;
}

.gridsFooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.titleFooter{
    flex-direction: row;
    justify-content: space-around;
    grid-area: Title;
    color: #e8e7e5;
    padding: 15px;
}
.newsletter{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.newsletterInput, .btn-submit{
    padding: 10px;
    grid-area: input;
}
.contenedorIcons{
    width: 20%;
}
.icon{
    @include medidas;
}*/
@media (min-width: 480px) {
  footer {
    background-color: #BEA393; }
  .gridsFooter {
    background-color: #BEA393; }
  .titleFooter {
    padding: 2%;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
    color: #fffefd; }
  .newsletter {
    display: flex;
    flex-direction: column;
    align-items: stretch; }
  .newsletterInput, .btn-submit {
    padding: 2%; }
  .ulFooter {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 1%;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: wrap; }
  .aFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: #e8e7e5;
    list-style-type: none;
    margin: 2%; }
  .contenedorIcons, a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
    margin: 1%; }
  .icon {
    height: 35px;
    width: 35px; } }

@media (max-width: 480px) {
  .ulFooter {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 1%;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: wrap; }
  .aFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    color: #e8e7e5;
    list-style-type: none;
    margin: 2%; }
  .contenedorIcons, a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
    margin: 1%; }
  .icon {
    height: 35px;
    width: 35px; } }

@media (min-width: 768px) {
  footer {
    background-color: #BEA393; }
  .gridsFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-content: center; }
  .titleFooter {
    flex-direction: row;
    justify-content: space-around;
    grid-area: Title; }
  .newsletter {
    display: flex;
    flex-direction: row;
    align-items: baseline; }
  .newsletterInput, .btn-submit {
    padding: 10px;
    grid-area: input; }
  .navFooter {
    width: 55%; }
  .navSpace {
    font-size: 15px; }
  .icon {
    height: 25px;
    width: 25px; } }

@media (min-width: 1200px) {
  .navFooter {
    width: 45%; }
  .navSpace {
    padding: 10px;
    font-size: 15px; }
  footer {
    background-color: #BEA393; }
  .gridsFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-content: center; }
  .titleFooter {
    flex-direction: row;
    justify-content: space-around;
    grid-area: Title; }
  .newsletter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .newsletterInput, .btn-submit {
    padding: 10px;
    grid-area: input; }
  .contenedorIcons {
    width: 20%; }
  .icon {
    width: 50px;
    height: 50px; } }

/**Desktop-Servicios**/
/**Mobile First-Productos**/
.grillaProductos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
  align-content: flex-start; }

.Productos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  padding: 20px;
  text-align: center; }

/**Turnos Online**/
.cuadro1 {
  border: gray solid 2px;
  font-family: 'Nunito', sans-serif;
  margin: 4%;
  padding: 4%;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  font-size: 25px;
  width: 30%; }

.border {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; }

.cuadro2 {
  border: gray solid 2px;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 1%;
  padding: 1%;
  width: 20%; }

.mapTurnos {
  width: 100%; }

.horarios {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 2%;
  font-family: 'Nunito', sans-serif;
  font-weight: 200; }

.secTitle {
  font-size: 130%;
  font-weight: bold;
  padding: 2%; }

.cuadro3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  align-items: stretch; }

.listasDespegables {
  display: flex;
  flex-direction: column;
  font-size: 109%;
  font-family: 'Ibarra Real Nova', serif;
  flex-wrap: nowrap;
  margin-right: 19px;
  align-content: center;
  justify-content: center;
  align-items: stretch; }

.lista1, .lista2, .lista3 {
  display: flex;
  flex-direction: column;
  border: gray solid 1px;
  margin: 8px;
  padding: 1%;
  background-color: #fffefd; }

/***CONTATOS***/
.inFo {
  padding: 2%;
  font-family: 'Nunito', sans-serif;
  text-align: center; }

.contenedorForm {
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

.form {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: stretch;
  width: 50%; }

.form-label {
  font-size: 100%; }

.form-input {
  padding: 10px; }

.mapContact {
  display: flex;
  width: 25%;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center; }
