.title-principal{
    padding: 2%;
    font-size: 230%;
    text-align: center;
    color: #c1a2a0;
    font-family: 'Ibarra Real Nova', serif;
}
.title-corporales{
  @extend .title-principal;
}
.lomasDestacado{
  @extend .title-principal;
}
.titleTurnos{
  @extend .title-principal;
}
.form-title{
  @extend .title-principal;
}