@media (max-width:480px) {

    header{
        background-color: #e8e7e5;
    }
   
    }
@media (min-width:480px) {
    .fondo{
        background-color:#e8e7e5;
    }
} 
@media  (min-width:1200px) {
    header{
        background-color: #e8e7e5;
        .navHover:hover{
            color: #fff7f7;
            background-color: #fff7f7;
        }
        .buttomHover:hover{
            color: #fff7f7;
            background-color: $background-med;
        }
        
        .colorNav{
            padding: 10px;
            font-size: 18px;
        }
    
        .fondo{
            background-color:#e8e7e5;
        }
    }
    
}