@media (min-width:768px){
main{
  background-color: #e8e7e5;
  width: 100%;
}
.title-principal, .title-corporales, .lomasDestacado, .titleTurnos, .form-title{
  padding: 2%;
  display: flex;
  font-size: 190%;
  text-align: center;
  color: #c1a2a0;
  font-family: 'Ibarra Real Nova', serif;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-evenly;
}
.btn, .btn-dark{
  height: 45%;
  width: 45%;
}
}
@media (max-width:480px) {
  main{
    background-color: #e8e7e5;
    width: 100%;
}
.title-principal, .title-corporales, .lomasDestacado, .titleTurnos, .form-title{
    padding: 2%;
    display: flex;
    font-size: 300%;
    text-align: center;
    color: #c1a2a0;
    font-family: 'Ibarra Real Nova', serif;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
}
.btn, .btn-dark{
    height: 45%;
    width: 45%;
}
}
@media (min-width:768px){

  main{
      background-color: #e8e7e5;
      width: 100%;
  }
  .title-principal, .title-corporales, .lomasDestacado, .titleTurnos, .form-title{
      padding: 2%;
      display: flex;
      font-size: 190%;
      text-align: center;
      color: #c1a2a0;
      font-family: 'Ibarra Real Nova', serif;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: stretch;
      justify-content: space-evenly;
  }
  .btn, .btn-dark{
      height: 45%;
      width: 45%;
  }
}
@media  (min-width:1200px){ 
main{
    background-color: #e8e7e5;
    width: 100%;
}


.grillaPromos {
    -webkit-animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: scale-up-ver-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes scale-up-ver-center {
    0% {
      -webkit-transform: scaleY(0.4);
              transform: scaleY(0.4);
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  
.btn, .btn-dark{
    height: 45%;
    width: 45%;
}
}